* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root {
    --color: #ffffff;
    --bg-color: #242222;
    --h-color: #faab19;
    --h-box: #f5d496;
    --grid-color: #2d2b2b;
    --grid-color2:#dadada;
    --btn-color: #ffffff33;
    --sec: #8a2be2;
  }
  body {
    padding: 0;
    margin: 0;
    background: var(--bg-color);
    font-family: Segoe UI;
  }
  .main {
    height: 15vh;
    width: 100%;
    position: relative;
  }
  /* Nav bar */
  .navbar button {
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid var(--color);
    background-color: transparent;
    color: var(--color);
    padding: 8px;
    font-weight: 550;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    position: relative;
    transition: 0.3s ease all;
    z-index: 1;
    display: inline-block;
  }
  .navbar button::before {
    transition: 0.5s all ease;
    position: absolute;
    border-radius: 5px;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: var(--h-color);
    z-index: -1;
  }
  .navbar button:hover {
    border: none;
  }
  .navbar button:hover::before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
  }
  .navbar button:active {
    transform: scale(0.9);
  }
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 15px 10px 0;
    background-color: var(--sec);
    transform: translateY(0);
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar.scroll-up {
    background-color: var(--bg-color);
  }
  .navbar ul {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  .navbar ul img {
    width: 150px;
    padding: 15px;
  }
  .navbar li {
    list-style: none;
    position: relative;
  }
  
  .navbar li a {
    text-decoration: none;
    color: var(--color);
    letter-spacing: 2px;
    font-size: 15px;
  }
  .navbar a::after {
    content: "";
    width: 0%;
    height: 3px;
    background: var(--h-color);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.2s all linear;
  }
  .navbar a:hover::after {
    width: 100%;
  }
  .form{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .form a:hover::after {
    width: 0 !important;
  }
  .form img{
    width: 30px;
  }

  /* form css */
  .logo-li a:hover::after {
    width: 0 !important;
  }
  .modal-content h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom:20px ;
  }
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #00000066;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 7% auto;
    padding: 30px 40px;
    border: 2px solid #ffffff33;
    width: 420px;
    border-radius: 12px;
    position: relative;
    background: transparent;
    backdrop-filter: blur(12px);
    color: var(--color);
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: var(--color);
    text-decoration: none;
    cursor: pointer;
  }
  
  /* button form */
  .login-form button,
  .signup-form button {
    margin: 15px 0;
    width: 100%;
    height: 45px;
    background: var(--color);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px #0000001a;
    cursor: pointer;
    font-size: 16px;
    color: var(--bg-color);
    font-weight: 600;
    display: inline-block;
    position: relative;
    transition: 0.5s ease all;
    z-index: 1;
  }
  .login-form button::before,
  .signup-form button::before {
    transition: 0.5s all ease;
    position: absolute;
    border-radius: 50px;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: var(--h-color);
    z-index: -1;
  }
  .login-form button:hover,
  .signup-form button:hover {
    background-color: var(--h-color);
    color: var(--color);
  }
  .login-form button:hover::before,
  .signup-form button:hover::before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
  }
  .login-form button:active,
  .signup-form button:active {
    transform: scale(0.9);
  }
  
  .login-form p {
    margin-top: 10px;
    text-align: center;
  }
  
  .login-form a {
    color: #007bff;
    text-decoration: none;
  }
  
  .login-form a:hover {
    text-decoration: underline;
  }
  
  /* input */
  .modal-content form input {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid var(--btn-color);
    border-radius: 40px;
    font-size: 16px;
    color: var(--color);
    padding: 15px 45px 15px 20px;
    margin-bottom: 20px;
  }
  .modal-content .inputbox {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0;
  }
  .modal-content form input::placeholder {
    color: var(--color);
  }
  .modal-content form i {
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
  }
  /* body---------------------------------------- */
  /* Difficulty select-bar Bar*/
.select-bar {
  margin: 0 0 30px 0;
  width: 100%;
  height: auto;
  padding: 10px 20px;
  background-color: var(--grid-color);
}
.select-bar ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 80px;
  font-size: 22px;
}
.select-bar li {
  list-style: none;
  position: relative;
}
.select-bar a {
  text-decoration: none;
  color: var(--color);
}
.select-bar a::after {
  content: "";
  width: 0%;
  height: 3px;
  background: var(--h-color);
  position: absolute;
  bottom: -4px;
  left: 0;
  transition: 0.2s all linear;
}
.select-bar a:hover::after {
  width: 100%;
}
/* main body */
.pro-grid{
  width: 100%;
  height: 850px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  background-color: var(--grid-color);
  border-radius: 20px;
}
.pro{
  width: 80%;
  height: 90%;
  background-color:var(--color);
  border-radius: 8px;
  display: flex;
  align-items: end;
  text-decoration: none;
}
.pro:hover{
  box-shadow: 0 0 2px 5px var(--bg-color);
  transform: scale(1.05);
}
.p-head {
  margin-bottom: 20px;
  color: var(--color);
  font-size: 22px;
  padding: 20px 0 0 20px;
  align-items: center;
}

/* inside card */
.name{
  width: 100%;
  height: 60px;
  padding: 5px 3px;
  font-size: 15px;
 display: flex;
 justify-content:center;
 align-items: center;
  background-color: var(--sec);
  backdrop-filter: blur(1px);
  color: var(--color);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.pow1{
  background-image: url(/Assests/images/powder1.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.pow2{
  background-image: url(/Assests/images/powder2.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.pow3{
  background-image: url(/Assests/images/powder3.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.pow4{
  background-image: url(/Assests/images/powder4.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.pow5{
  background-image: url(/Assests/images/powder5.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.pow6{
  background-image: url(/Assests/images/powder6.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.pow7{
  background-image: url(/Assests/images/powder7.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.pow8{
  background-image: url(/Assests/images/powder8.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.dum-grid, .other-grid{
  width: 100%;
  height: 425px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  background-color: var(--grid-color);
  border-radius: 20px;
}
.dum1{
  background-image: url(/Assests/images/dum1.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.dum2{
  background-image: url(/Assests/images/dum2.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.dum3{
  background-image: url(/Assests/images/dum3.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.dum4{
  background-image: url(/Assests/images/dum4.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.other1{
  background-image: url(/Assests/images/other1.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.other2{
  background-image: url(/Assests/images/other2.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.other3{
  background-image: url(/Assests/images/other3.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.other4{
  background-image: url(/Assests/images/other4.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}