* {
  margin: 0;
  padding: 0;
}
:root {
  --color: #ffffff;
  --bg-color: #242222;
  --h-color: #faab19;
  --h-box: #f5ca7a;
  --grid-color:#2d2b2b;
}
body {
  background: var(--bg-color);
  font-family: Segoe UI;
  overflow-x:hidden;
}
.main {
  height: 90vh;
  width: 100vw;
  position: relative;
}
.main-box {
  background-image: url(Assests/images/nig-img.jpg);
  height: 90vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: brightness(0.8);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.nav-bar {
    width: 100%;
    /* background-color: var(--grid-color); */
  z-index: 2;
  position: sticky;
  top: 0;
}
.nav-bar ul {
  display: flex;
  align-items: center;
  gap: 50px;
}
.nav-bar ul img {
  width: 140px;
  padding: 15px;
}
.nav-bar li {
  list-style: none;
  position: relative;
}

.nav-bar li a {
  text-decoration: none;
  color: var(--color);
  letter-spacing: 2px;
}
.nav-bar a::after{
    content: "";
    width: 0%;
    height: 3px;
    background: var(--h-color);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.2s all linear;

}
.nav-bar a:hover::after {
    width: 100%;
}
.logo-li a:hover::after{
    width: 0 !important;
}
.header{
    padding: 25px 10px 0 20px;
    color: var(--color);
    margin-bottom: 15px;
}
h1, h2, h3{
    font-weight: 500;
    letter-spacing: 2px;
}
.header h3{
    font-size: 22px;
}

/* Grid challenge box */
.card-challenge{
    margin: 0 0 20px 0;
    width: 100%;
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
    background-color: var(--grid-color);
    border-radius: 20px;
}
.card{
    width: 80%;
    height: 80%;
border-radius: 10px;
color: var(--color);
padding: 20px;
}
.box1{
    background-image: url(/Assests/images/full-body-card.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.head-card1{
    width: 200px;
}
.card button{
    margin: 230px 30px 20px 30px;
    padding: 10px;
    background-color:transparent;
    color: var(--color);
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 2px;
    width: 90%;
    border: 1px solid var(--color);
    border-radius: 50px;
}

.box2{
    background-image: url(/Assests/images/lower-body-card.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.card button:hover{
    background-color: var(--h-color);
    border: none;
    
}
.card:hover{
    box-shadow: 0 0 0 1px var(--h-box);
}

/* Difficulty levels Bar*/
.level{
    margin: 20px 0;
    width: 100%;
    height: 30px;
    padding: 10px 20px;
}
.level ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 80px;
    font-size: 22px;
}
.level li{
    list-style: none;
    position: relative;
}
.level a{
    text-decoration: none;
    color: var(--color);
}
.level a::after{
    content: "";
    width: 0%;
    height: 3px;
    background: var(--h-color);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.2s all linear;
}
.level a:hover::after{
   width: 100%;
}

/* Beginner Grid */
.level-grid{
    width: 100vw;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
    background-color: var(--grid-color);
    border-radius: 20px;
}

.l-box{
    width: 85%;
    height: 85%;
    padding: 15px;  
}
.b-abs{
    border-radius: 10px;
    background-image: url(/Assests/images/beginner-abs.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.level-btn{
    margin: 120px 0 0 20px;
    width: 90%;
    padding: 8px;
    background-color:transparent;
    color: var(--color);
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 2px;
    border: 1px solid var(--color);
    border-radius: 50px;
}
.back-btn{
    margin: 90px 0 0 20px !important;
}
.level-btn:hover{
    background-color: var(--h-color);
    border: none;
}
.level-img{
    margin-bottom: 20px;
}
.level-img img{
width: 15px;
}
.l-box h2{
    font-size: 22px;
    color: var(--color);
    font-weight: 800 !important;
    text-shadow: 0 0 3px black;
}
.l-box h3{
    font-size: 15px !important;
    color: var(--color);
    text-shadow: 0 0 1px black;
}
.b-chest{
    border-radius: 10px;
    background-image: url(/Assests/images/beginner-chest.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position:center; */
}
.b-back{
    border-radius: 10px;
    background-image: url(/Assests/images/beginner-back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.b-leg{
    border-radius: 10px;
    background-image: url(/Assests/images/beginner-leg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.b-arms{
    border-radius: 10px;
    background-image: url(/Assests/images/beginner-haat.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.l-box:hover{
    box-shadow: 0 0 0 1px var(--h-box);
}
#intermediate{
    margin: 10px 0;
padding: 20px 0;
}
.i-head, .a-head{
    margin-bottom:20px ;
    color: var(--color);
    font-size: 22px;
    padding: 20px 0 0 20px;
    align-items: center;
}
.i-abs{
    background-image: url(/Assests/images/intermidate-abs.jpg);
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.i-chest{
    background-image: url(/Assests/images/intermidate-chest.jpg);
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.i-back{
    background-image: url(/Assests/images/intermidate-back.jpg);
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.i-leg{
    background-image: url(/Assests/images/intermidate-legs.jpg);
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.i-arm{
    background-image: url(/Assests/images/intermidate-haat.jpg);
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}

/* advanced */
.a-abs{
    background-image: url(/Assests/images/advance-abs.jpg);
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.a-chest{
    background-image: url(/Assests/images/advance-chest.jpg);
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.a-back{
    background-image: url(/Assests/images/advance-back.jpg);
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.a-leg{
    background-image: url(/Assests/images/advance-legs.jpg);
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.a-arm{
    background-image: url(/Assests/images/advance-haat.jpg);
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.about-us{
    margin: auto;
    padding-bottom: 40px;
    margin-top: 30px !important;
    width: 95vw;
    height: 50vh;
    background-color: #df9100;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    text-align: center;
}
.about-us h2{
padding-top: 30px;
margin-bottom: 10px;
    color: var(--color);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 5px;
}
.about-box{
    margin: 0 0 0 72px;
    width: 90%;
    height: 250px;
    background-color: transparent;
    border: 3px solid var(--color);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    text-align: left;
    align-items: center;
}
.about-box img{
    margin: 15px;
    width: 128px;
}
.about-box p{
    color:var(--color);
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 400;
}
.about-box strong{
    font-weight: 700;
}